<div id="p-wrapper">
  <ul id="piano">
    <li *ngFor="let pianoKey of pianoKeys">
      <div
        class="anchor"
        [class.keyPressed]="highlightedKeyIds.has(pianoKey.whiteKeyId)"
        [class.inScale]="highlightScale && scaleKeyIds.has(pianoKey.whiteKeyId)"
        [class.isRoot]="highlightScale && rootKeyIds.has(pianoKey.whiteKeyId)"
        (mousedown)="keyPress(pianoKey.whiteKeyId)"
        (mouseup)="keyRelease(pianoKey.whiteKeyId)"
        (mouseleave)="keyRelease(pianoKey.whiteKeyId)"
      ></div>
      <span
        *ngIf="pianoKey.blackKeyId"
        [class.keyPressed]="highlightedKeyIds.has(pianoKey.blackKeyId)"
        [class.inScale]="highlightScale && scaleKeyIds.has(pianoKey.blackKeyId!)"
        [class.isRoot]="highlightScale && rootKeyIds.has(pianoKey.blackKeyId!)"
        (mousedown)="keyPress(pianoKey.blackKeyId!)"
        (mouseup)="keyRelease(pianoKey.blackKeyId!)"
        (mouseleave)="keyRelease(pianoKey.blackKeyId!)"
      ></span>
    </li>
  </ul>
</div>
